* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('public/carpet-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header div.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
}

header div.skew {
    position: absolute;
    right: -10%;
    width: 65%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transform: skew(-20deg);
}

header div.header-content {
    position: absolute;
    right: 0;
    top: 30vh;
    padding: 20px 80px 20px 10px;
    width: 50%;
    height: 50vh;
    color: white;
}

div.header-content h1 {
    font-size: 3em;
    text-shadow: 2px 2px #333;
}

div.header-content hr {
    color: white;
    margin: 1.6em 0 4em;
}

div.header-content div.description {
    font-size: 1.2em;
    margin: 1em 0 2em;
}

div.header-content button {
    display: block;
    padding: 20px 40px;
    font-size: 1.4em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: .2s;
    cursor: pointer;
}

div.header-content button:hover {
    background-color: white;
    color: #333;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    padding: 10px 0;
    text-align: center;
    z-index: 2;
}

nav ul {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    position: relative;
    margin: 0 30px;
    padding: 0 10px;
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: 2px 2px #333;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: white; /* Color of the underline */
    transition: width 0.3s ease-in-out; /* Smooth animation */
    position: absolute;
    bottom: -5px; /* Distance from the text */
    left: 0;
  }

nav ul li:hover::after {
    width: 100%; /* Expands the underline */
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a.active {
    color: #333
}

section {
    height: 100vh;
}

section#about{
    background-color: antiquewhite;
}

section#gallery {
    background-color: blueviolet;
}

section#contact {
    background-color: crimson;
}